.css-12nnp35-MuiPaper-root-MuiCard-root {
  background-color: transparent !important;
}

.CircularProgressbar-text {
  font-weight: bold;
}

::-webkit-scrollbar {
    width: 17px;
}

::-webkit-scrollbar-thumb {
    background: #611942;
    background-clip: content-box;
    border-radius: 10px;
    border: 5px solid transparent;
}