@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
    font-family: 'Inter';
  }
  
body{
    background-color: #F1DBCD;
}

:root {
  --good: #44af69;
  --mid: #fcab10;
  --bad: #f8333c;
}

